<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mboConnectionString" connectionString="server=10.92.144.15;userid=mboadmin;password=;database=mbo2;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
		<add name="busConnectionString" connectionString="server=10.92.144.15;userid=gadmin;password=;database=ga;allowuservariables=True; character set=utf8;"
            providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>